In [3]:
#This Code is used to check the MySQL database connection
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001C15B949450>

In [4]:
# create a database named "nsec"

import mysql.connector

xyz = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = xyz.cursor()

mycursor.execute("CREATE DATABASE nsec")
print("Database Created Successfully")

Database Created Successfully

In [5]:
#List Databases
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('nsati',)
('nsec',)
('performance_schema',)
('phpmyadmin',)
('programming_language',)
('wordpress',)

In [7]:
#Create Table in Database
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="nsec"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE subjects (subject_1 VARCHAR(255), subject_2 VARCHAR(255),subject_3 VARCHAR(255))")
print("Table created successfully in the database")

Table created successfully in the database

In [ ]:
#List Tables in Database
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")